.price {
    font-weight: bold;
    font-size: medium;
}

/* don't display anything if price description is not present */
.price_desc:empty{
    display: none;
}

.price_desc{
    font-size: smaller;
}

.price_desc:before {
    content: ' (';
}

.price_desc:after {
    content: ')';
}

a.add-btn{
    color: black;
}

a.add-btn-2{
    color: black;
}

.product_title{
    cursor: pointer;
}

.cart-product-title{
    cursor: pointer;
}

.quantity{
    margin: 8px;
}

.img-thumbnail{
    width:200px; 
    height:200px; 
    display:inline-block;
}

.img-popup-thumbnail{
    width: 240px; 
    height: 250px;
}

.img-container{
    padding: 10px;
    display: table;
	table-layout: fixed;
}
